h3{
    margin-top: 10%;
    text-align: center;
    color: ghostwhite;
    background-color:steelblue;
    padding: 0.3em;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
    margin-left: 37%;
    margin-right: 37%;
    margin-bottom: 3.5%;
    font-size: 1.4em;
}

.title{
    text-align: center;
    background-color:steelblue;
    padding: 0.3em;
    border: 1px solid black;
    color:ghostwhite;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 3.5%;
    box-shadow: 5px 5px 20px black;
    font-size: 3em
}
.about{
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
    color:ghostwhite;
    background-color: steelblue;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 10%;
    font-size: 2.5em;
    padding: 0.08em;
}
.aboutme{
    text-align: center;
    background-color: steelblue;
    border: 1px solid black;
    color: ghostwhite;
    box-shadow: 5px 5px 20px black;
    margin-left: 24%;
    margin-right: 24%;
    line-height: 1.7em;
    word-spacing: 0.14em;
    padding: 1em;
    margin-top: 5%;
    font-size: 1.25em
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(rgb(21, 24, 202), rgb(10, 137, 175));
    font-size: 1.5em;
}
  
li {
    float: left;
    margin-left: 1em;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: steelblue;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%
}

.myself {
    display: block;
    max-width: 315px;
    max-height: 335px;
    border-radius: 5%;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}


body{
    background: url(images/bluelandscape.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    height: 75vh;
    background-color: thistle;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 2rem;
}